<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial0-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />
        <link href="~/Content/home.css" rel="stylesheet" />
        <link href="~/Content/mystyle.css" rel="stylesheet" />
        <link href="/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d69fb28507.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--Header-->
        <header class="header hov-df hdJS up">
            <div class="hd-banner">
                <div class="hd-banner-message">
                    <div class="html-slot-container">
                        <div class="hd-promotion">
                            <i class="fa fa-globe" aria-hidden="true">

                            </i>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-top">
                <div class="grid">
                    <nav class="con top-ct">
                        <div class="col-1">
                            <div class="menu-1">
                                <img src="" />
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="hd-logo mg-ct">
                                <a href="">
                                    <img witdh="98" height="20" src="https://levents.asia/wp-content/uploads/2023/10/levents_logo_black.png" alt="Levents" />
                                </a>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="hd-list f1-con aln-ct">
                                <div class="list-item list-item-bnt lct ">
                                    <div class="list-bell hover--zomm lct">
                                        <img src="https://levents.asia/template/assets/images/notification.png" alt="">
                                        <div class="cart_num c-whi f-thin" style="font-size: 12px;">
                                            3
                                        </div>
                                    </div>
                                    <ul class="l-bell hov-df ">
                                        <li class="hv-cl">
                                            <a class="" href="">
                                                <span class="icon"></span>
                                                01.10  RELEASE NEW BRANDING COLLECTION 💙
                                            </a>
                                        </li>
                                        <li class="hv-cl">
                                            <a class="" href="">
                                                <span class="icon"></span>
                                                LEVENTS® STORE NGUYỄN TRÃI🎉
                                            </a>
                                        </li>
                                        <li class="hv-cl">
                                            <a class="" href="">
                                                <span class="icon"></span>
                                                FREESHIP CHO HÓA ĐƠN TỪ 1.000.000
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="list-like hover--zomm lct hd_d">
                                    <a href="" class="pointer" onclick="showspyt()">Sản Phẩm Yêu Thích </a>
                                </div>
                                <div class="list-Search hover--zomm lct hd_d " id="ser-icon">
                                    <div class="ser__btn actBtn" data-act="ser">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-ser.svg" alt="" />
                                    </div>
                                </div>
                                <div class="list-gh hover--zomm lct">
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-cart.svg" alt="" />
                                        <div class="cart_num c-whi f-thin" style="font-size: 12px;">
                                            0
                                        </div>
                                    </a>
                                </div>
                                <div class="list-user lct">
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-user.svg" alt="" />
                                    </a>
                                </div>
                                <div class="list-qk  lct">
                                    <img src="https://levents.asia/template/assets/images/svg/ic-vn.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="ser actPanel " data-act="ser" id="ser-form">
                        <div class="con-m">
                            <ul class="ser_key">
                                <li> <a href="">Khác</a>  </li>
                                <li> <a href="">New Arrival</a>  </li>
                                <li> <a href="">Tất cả</a>  </li>
                                <li> <a href="">"MY ANIMALS" Series</a>  </li>
                                <li> <a href="">SPRING/SUMMER 2022</a>  </li>
                                <li> <a href="">POPULAR LOGO</a>  </li>
                                <li> <a href="">SLIDES</a>  </li>
                                <li> <a href="">Dép (SLIPPER)</a>  </li>
                                <li> <a href="">DORAEMON | LEVENTS®</a>  </li>
                                <li> <a href="">TEE</a>  </li>
                                <li> <a href="">BAG</a>  </li>
                                <li> <a href="">PANT</a>  </li>
                                <li> <a href="">SHIRT</a>  </li>
                                <li> <a href="">SANDAL</a>  </li>
                                <li> <a href="">GIFT</a>  </li>
                                <li> <a href="">CAP</a>  </li>
                                <li> <a href="">SHORTPANTS</a>  </li>
                                <li> <a href="">SLIPPER</a>  </li>
                                <li> <a href="">SOCK</a>  </li>
                                <li> <a href="">BACKPACK</a>  </li>
                                <li> <a href="">HOODIE ZIP</a>  </li>
                                <li> <a href="">LEVENTS® CLASSIC</a>  </li>
                                <li> <a href="">Best Seller</a>  </li>
                                <li> <a href="">Áo</a>  </li>
                                <li> <a href="">Quần</a>  </li>
                                <li> <a href="">Ba lô</a>  </li>
                                <li> <a href="">Phụ kiện</a>  </li>
                                <li> <a href="">Outerwear</a>  </li>
                                <li> <a href="">Sale</a>  </li>
                                <li> <a href="">BST</a>  </li>
                                <li> <a href="">Other</a>  </li>
                            </ul>
                            <div class="ser_form">
                                <form action="" method="GET">
                                    <div class="ser_form_wrap fl-con">
                                        <input type="search" name="s" class="rs-form ser_form_inp" placeholder="Search Top…" value="">
                                        <button type="submit" class="rs-form ser_form_btn btn-pri c-whi hov-df">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="ser_pop">
                                <div class="title">POPULAR</div>
                                <ul class="ser_pop_list fl-warp fl-col">
                                    <li> <a href="">Clothing</a>  </li>
                                    <li> <a href="">Short</a>  </li>
                                    <li> <a href="">Blue</a>  </li>
                                    <li> <a href="">Shirt</a>  </li>
                                    <li> <a href="">Polo</a>  </li>
                                    <li> <a href="">T-shirt</a>  </li>
                                    <li> <a href="">Sweater</a>  </li>
                                    <li> <a href="">Hoodie</a>  </li>
                                    <li> <a href="">Jacket</a>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bot">
                <nav class="con pd-0">
                    <div class="hd-menu menu menuBoard hov-df">
                        <div class="menu-warp">
                            <ul id="main-menu">
                                <li><a class="boder-ef" href="">About Us</a></li>
                                <li>
                                    <a href="">Cửa hàng</a>
                                    <ul class="sub-menu">
                                        <li><a class="boder-ef" href="">Tất cả</a></li>
                                        <li><a class="boder-ef" href="">Sản phẩm mới</a></li>
                                        <li><a class="boder-ef" href="">Best Seller</a></li>
                                        <li><a class="boder-ef" href="">Levents® Classic</a></li>
                                        <li>
                                            <a href="">Áo</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="">Áo thun</a>
                                                    <ul class="sub-menu">
                                                        <li><a class="boder-ef" href="">Áo thun trơn</a></li>
                                                        <li><a class="boder-ef" href="">Áo thun hình</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="boder-ef" href="">Áo Polo</a></li>
                                                <li><a class="boder-ef" href="">Áo sơ mi</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Quần</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="">Quần dài</a>
                                                    <ul class="sub-menu">
                                                        <li><a class="boder-ef" href="">Quần tây</a></li>
                                                        <li><a class="boder-ef" href="">Quần Jean</a></li>
                                                        <li><a class="boder-ef" href="">Quần Khaki</a></li>
                                                        <li><a class="boder-ef" href="">Quần thể thao</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="boder-ef" href="">Quần ngắn</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Áo khoác</a>
                                            <ul class="sub-menu">
                                                <li><a class="boder-ef" href="">Hoodie</a></li>
                                                <li><a class="boder-ef" href="">Cardigan</a></li>
                                                <li><a class="boder-ef" href="">Sweater</a></li>
                                                <li><a class="boder-ef" href="">Jacket</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="boder-ef" href="">Cặp sách</a></li>
                                        <li>
                                            <a href="">Phụ kiện</a>
                                            <ul class="sub-menu">
                                                <li><a class="boder-ef" href="">Nón</a></li>
                                                <li><a class="boder-ef" href="">Vớ</a></li>
                                                <li><a class="boder-ef" href="">Dép</a></li>
                                                <li><a class="boder-ef" href="">Túi xách</a></li>
                                                <li><a class="boder-ef" href="">Ví</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Bst</a>
                                            <ul class="sub-menu">
                                                <li><a class="boder-ef" href="">Doraemon | Levents®</a></li>
                                                <li><a class="boder-ef" href="">Spring/Summer 2022</a></li>
                                                <li><a class="boder-ef" href="">“My animals” series</a></li>
                                                <li><a class="boder-ef" href="">Popular logo</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="boder-ef" style="color: #FF0000;" href="">Giảm giá</a></li>
                                <li><a class="boder-ef" href="">Bộ sưu tập</a></li>
                                <li><a class="boder-ef" href="">Bộ phối</a></li>
                                <li>
                                    <a href="">Bài viết</a>
                                    <ul class="sub-menu">
                                        <li><a class="boder-ef" href="">Xu hướng thời trang</a></li>
                                        <li>
                                            <a href="">Kiến thức thời trang</a>
                                            <ul class="sub-menu">
                                                <li><a class="boder-ef" href="">Kiến thức mua hàng</a></li>
                                                <li><a class="boder-ef" href="">Kiến thức xây dựng phong cách</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="boder-ef" href="">Liên hệ</a></li>
                                <li>
                                    <a href="">Chăm sóc Khách hàng</a>
                                    <ul class="sub-menu">
                                        <li><a class="boder-ef" href="">Lì Ven Fabric</a></li>
                                        <li><a class="boder-ef" href="">Mua Hàng dễ dàng</a></li>
                                        <li><a class="boder-ef" href="">Chính sách đổi trả & bảo hành</a></li>
                                        <li><a class="boder-ef" href="">Chính sách Thành viên</a></li>
                                        <li><a class="boder-ef" href="">Chính sách vận chuyển</a></li>
                                        <li><a class="boder-ef" href="">Hướng dẫn mua hàng & bảo quản</a></li>
                                        <li><a class="boder-ef" href="">Hỏi & đáp</a></li>
                                    </ul>
                                </li>
                                <li><a class="boder-ef" href="">Tuyển dụng</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--Main-->
        <div>
            @RenderBody()
        </div>
        <!--Footer-->
        <div class="footer">
            <div class="footer-top">
                <div class="con fl-warp jus-spa">
                    <div class="col-6 ft-small">
                        <div class="ft-content">
                            <div class="ft-lim warp-child">
                                <div class="ft-title">Về chúng tôi</div>
                                <div class="ft-mb-warp">
                                    <div class="ftCon">
                                        <div class="ft__txt">
                                            <p class="p1">Levents® – Share your color with the world</p>
                                        </div>
                                        <p>&nbsp;</p>
                                        <div class="ft__txt">
                                            <p class="p1">HỘ KINH DOANH Red Label</p>
                                            <p class="p1">GPKD được cấp bởi Cục Cảnh sát QLHC &amp; TTXH</p>
                                            <p>Trụ sở hộ kinh doanh: 842 Sư Vạn Hạnh, Phường 13, Quận 10, Tp. Hồ Chí Minh</p>
                                            <p>Mä só thuê: 41J8031547</p>
                                            <p class="p1">Ngày cấp: 06/07/2021</p>
                                            <p>Người đại diện: Nguyễn Trần Duy Khiết</p>
                                            <p class="p1">Mã Số thuế cá nhân: 8748861448-001</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="ft_lim wrap-wg-child">
                                    <div class="wp-block-image">
                                        <figure class="alignleft size-full is-resized">
                                            <a href="" target="_blank">
                                                <img src="https://levents.asia/wp-content/uploads/2023/02/logoSaleNoti-1.png" alt="" class="wp-image-875074" width="200" srcset="https://levents.asia/wp-content/uploads/2023/02/logoSaleNoti-1.png 600w, https://levents.asia/wp-content/uploads/2023/02/logoSaleNoti-1-300x114.png 300w, https://levents.asia/wp-content/uploads/2023/02/logoSaleNoti-1-255x96.png 255w, https://levents.asia/wp-content/uploads/2023/02/logoSaleNoti-1-100x38.png 100w" sizes="(max-width: 600px) 100vw, 600px">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ft-big pd-0 fl-warp">
                        <div class="col-4">
                            <div class="warp-child">
                                <div class="ft-title">LIÊN HỆ</div>
                                <div class="ft-mb-warp ftBox">
                                    <ul class="ft__list ftCon">

                                        <li>
                                            Hotline
                                            <br>
                                            <a href="tel:1900633028" class="hov-df f-bold">1900 633 028</a>
                                        </li>
                                        <li>
                                            Email
                                            <br>
                                            <a href="" class="hov-df f-bold">Customercare@levents.asia</a>
                                        </li>
                                        <li>
                                            Thứ Hai - Chủ nhật
                                            <br>
                                            <div class="f-bold">09:30 ~ 21:30</div>
                                        </li>
                                        <li>
                                            Email liên hệ công việc
                                            <br>
                                            <a href="" class="hov-df f-bold">business@levents.asia</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="warp-child">
                                <div class="ft-title">Danh mục sản phẩm</div>
                                <div class="ft-mb-warp ftBox">
                                    <div class="menu-san-pham-ft-container ft__list ftCon">
                                        <ul id="menu-san-pham-footer" class="menu">
                                            <li id="menu-item-875116" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875116"><a href="">Tất cả</a></li>
                                            <li id="menu-item-875115" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875115"><a href="">New Arrival</a></li>
                                            <li id="menu-item-875114" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875114"><a href="">Áo</a></li>
                                            <li id="menu-item-875113" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875113"><a href="">Quần</a></li>
                                            <li id="menu-item-875111" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875111"><a href="">Outerwear</a></li>
                                            <li id="menu-item-875112" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875112"><a href="">Ba lô</a></li>
                                            <li id="menu-item-875110" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875110"><a href="">Phụ kiện</a></li>
                                            <li id="menu-item-875109" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-875109"><a href="">BST</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="warp-child">
                                <div class="ft-title">HỖ TRỢ</div>
                                <div class="ft-mb-warp ftBox">
                                    <ul id="menu-menu-support ftCon" class="menu ft__list ftCon">
                                        <li id="menu-item-592485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592485"><a href="">LÌ VEN FABRIC</a></li>
                                        <li id="menu-item-4455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4455"><a href="">Tài khoản</a></li>
                                        <li id="menu-item-592376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592376"><a href="">Chính sách vận chuyển</a></li>
                                        <li id="menu-item-592377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592377"><a href="">Thanh toán trực tuyến</a></li>
                                        <li id="menu-item-808091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-808091"><a href="">Chính sách bảo mật</a></li>
                                        <li id="menu-item-592379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592379"><a href="">Chính sách bảo hành</a></li>
                                        <li id="menu-item-592380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592380"><a href="">Chính sách khiếu nại</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="wrap-child">
                                <div class="ft-title"><strong>CỬA HÀNG</strong></div>
                            </div>
                            <div class="wrap-child">
                                <p><a>139E Nguyễn Trãi, Phường Bến Thành, Quận 1, HCM </a></p>
                            </div>
                            <div class="wrap-child">
                                <p><a>842 Sư Vạn Hạnh, Phường 12, Quận 10, HCM</a></p>
                            </div>
                            <div class="wrap-child">
                                <p><a>The New Playground, 04, Quận 1, HCM</a></p>
                            </div>
                            <div class="wrap-wg-child">
                                <p><a>54, Mậu Thân, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ</a></p>
                            </div>
                            <ul class="ft__social fl-wrap">
                                <li>
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-ins.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-tt.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="https://levents.asia/template/assets/images/svg/ic-yt.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="con fl-warp jus-ct">
                    <div class="col-6 ft__bot__txt mg-r">Levents® - Share your color with the world</div>

                    <div class="col-2 ft__bot__link">
                        <a href="" class="hov-df">Tuyển dụng</a>
                    </div>
                    <div class="col-2 ft__bot__link">
                        <a href="" class="hov-df mg-l">Term &amp; Policies</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>
